@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
$font-color-main: rgb(58, 62, 73);
$font-color-grey: rgb(158, 165, 170);
$border: 1px solid rgb(241, 244, 244);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(22, 40, 104);
  color: $font-color-main;
  font-size: 16px;
}

.email-client {
  background-color: rgb(255, 255, 255);
  width: 1068px;
  height: 833px;
  margin: 0 auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 391px 1fr;
}

.email-list {
  border-right: $border;
}

.email-list-header {
  border-bottom: $border;
  height: 64px;
  padding: 24px;
  display: grid;
  align-items: center;
}

.email-list-item-container {
  height: 833px - 64px;
  overflow: hidden;
  overflow-y: auto;
}

.email-list-item {
  border-bottom: $border;
  color: $font-color-grey;
  height: 138px;
  display: grid;
  grid-template-columns: 52px 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 24px;

  &__initial-container {
    align-self: center;
  }

  &__initial {
    background-color: rgb(255, 49, 104);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }

  &__attachment {
    display:  grid;
    align-items: center;
    justify-items: center;
    height: 34px;
    width: 34px;
  }
}

.heading {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: $font-color-main
}