@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:700&display=swap');
$font-color-main: #3C434F;
$font-color-grey: #959BA1;
$border: 1px solid #ECF0F0;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(22, 40, 104);
  color: $font-color-main;
  font-size: 16px;
}

.email-client {
  background-color: $white;
  width: 1068px;
  height: 90vh;
  margin: 0 auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 391px 1fr;
  position: relative;
}

.email-list {
  border-right: $border;
}

.email-list-header {
  border-bottom: $border;
  height: 62px;
  padding: 24px;
  display: grid;
  align-items: center;
}

.email-list-item-container {
  height: calc(90vh - 62px);
  overflow-y: auto;
  border-bottom-left-radius: 5px;
}

.email-list-item {
  border-bottom: $border;
  color: $font-color-grey;
  height: 138px;
  display: grid;
  grid-template-columns: 52px 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 24px 21px;
  border-left: 3px solid $transparent;
  border-right: 3px solid $transparent;
  font-size: 12px;
  cursor: pointer;
  
  &:hover {
    background-color: #F5FAFF;
  }

  &__read {
    opacity: 0.65;
  }

  &__selected {
    background-color: #F5FAFF;
    border-left-color: #3E82FF;
    opacity: 1;
    
    .heading {
      color: #2B75FF;
    }
  }

  &__selected-opaque {
    opacity: 1;
  }

  &__sender-data {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__body-preview {
    margin-top: 16px;
    line-height: 1.5;
  }

  &__initial-container {
    align-self: center;
  }

  &__attachment {
    justify-self: center;
    align-self: center;
  }

  &__unread-dot {
    height: 7px;
    width: 7px;
    background-color: #2974FF;
    border-radius: 50%;
    margin-left: 15px;
  }

  &__subject {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
  }
}

.email {
  height: calc(90vh - 62px);
  overflow-y: auto;
  padding: 16px 36px 64px 36px;
}

.email-item-header {
  border-bottom: $border;
  height: 62px;
  padding: 0 32px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  &__from {
    padding-left: 24px;
  }

  &__control-item {
    cursor: pointer;
  }
}

.heading {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: $font-color-main
}

.header {
  padding: 36px 36px 0 36px;
}

.logo {
  width: 150px;
}

.hero {
  &__tagline {
    color: $white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 82px;
    margin: 48px 0;    
  }

  &__cta {
    background-color: $white;
    height: 62px;
    width: 480px;
    margin: 48px auto;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 4px;
  }

  &__cta-btn {
    background-color: #FF3465;
    color: $white;
    border: none;
    width: 110px;
    height: 54px;
    border-radius: 100px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #E91E4F;
    }
  }

  &__cta-input {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $font-color-main;
    text-align: center;
  }
}

.email-empty {
  background-color: #F9F9F9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.email-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.initial-circle {
  background-color: rgb(255, 49, 104);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  color: $white;
  font-weight: 700;
}